//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Helvetica', Arial, "Helvetica Neue", Helvetica, sans-serif;

// font-weights
$medium: 400;
$bold: 700;

// Colors
$white: #fff;
$black: #000;
$light-blue: #f4f8f9;
$purple: #867fff;


// transitions
$dur: 300ms;
$ease: ease;

// Breakpoints
$mobile: '768px';
$tablet: '1024px';
$desktop: '1200px';
